/Lista 2/Ex4/nbproject/private/
/Lista 2/Ex6/nbproject/private/
/Lista 2/Ex7/nbproject/private/
/Lista 2/Ex8/nbproject/private/
/Lista 2/Ex10/nbproject/private/
/Lista 2/Ex11/nbproject/private/
/Lista 2/Ex18/nbproject/private/
/Lista 2/Ex1/nbproject/private/
/Lista 2/Robot/nbproject/private/
/Lista 2/Robot/build/
/Lista 3/HTML5Application/nbproject/private/
/Lista 3/Ex2/nbproject/private/
/Lista 3/Ex3/nbproject/private/
/Lista 3/Ex4/nbproject/private/
/Lista 3/Ex5/nbproject/private/
/Lista 3/Ex1/nbproject/private/
/Lista 3/Ex6/nbproject/private/
/Lista 3/Ex7/nbproject/private/
/Lista 3/Ex8/nbproject/private/