<!DOCTYPE html>
	<html>
	<head>
		<title>Post NOW</title>
		<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="/stylesheet_post.css"> 
	</head>
	<body class="container">
		<div class="header">
			<div class ="page-up-header"><h1>Social</h1></div>
			<div class="page-down-header text-center">
				<a href="/logout" class="btn btn-primary btn-block btn-large">Logout</a>
				<a href="/profile" class="btn btn-primary btn-block btn-large">Profile</a>
				<a href="/post" class="btn btn-primary btn-block btn-large">Main Page</a>
				<a href="/new-entry" class="btn btn-primary btn-block btn-large">Post Message</a>
			</div>
		</div>
		