<% include header %> 
	<div class="profile">
		<h2>Profile Page</h2>
		<div class="info">
			<h3><bold>id</bold>: <%= user.id %></h3>
			<h3><bold>username</bold>: <%= user.username %></h3>
			<h3><bold>password</bold>: <%= user.password %></h3>
		</div>
	</div>
</div>
<% include footer %>
