<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Minha aplicação</title>
</head>
<body>
	<div>
		Bem-vindo à  minha aplicaçãoo
		<p>
			<a href="/login">Login</a>
		</p>
		<p>
			<a href="/criar_conta">Criar uma nova conta</a>
		</p>
	</div>
</body>
</html>